@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
.bill-container{
    width:100%;
    text-orientation: rtl;
   
    
    padding-right:5%;
    padding-left:5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

    
}
.container-row{
    background:none;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
     
    
}
.bill-title{
    justify-content: center;
    width:500px;
  
}
.txt-field{
   min-width:500px;
   background: white;
}
.error{
    color:rgb(255, 255, 255);
    background-color: rgb(233, 33, 33);
    margin:3px;
}
.auto-complete{
    min-width: 700px;
    padding:8px;
    background-color:white;
    border:2px solid black;
    border-radius: 7px;
}
.add-btn{
    margin:10px;  
    width:100px;
    height:60px; 
   }
.bill-inputs{
    
    min-height:150px;
    
   
    display:flex;
    flex-direction: column;
    background: rgb(152, 184, 181);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-left:4%;
    padding-right:4%;
    width:90%;
    margin-top: 1%;
}
.input-row{
    display:flex;
    flex-direction:row;
    margin:5px;
    justify-content: space-evenly;
}
.print-area{
    
     height:100%;
     width:60%;
     background: none;
     margin-top: 2%;
     
     display: flex;
     flex-direction: column;
     justify-content: baseline;
     align-items: center;
    
}
/*print---------------------------------------*/


.save-bill-btn{
    position: fixed;
    top:15%;
    left:1%;
    background-color: rgb(34, 155, 99);
    border-radius: 20px;
    background-color: none;
    width:7%;
    min-height:7%;
    border:solid black 2px;
    max-height: 5%;
    text-align: center;
}
.add-service{
    background-color: rgb(34, 117, 155);
    border-radius: 20px;
    background-color: none;
    width:17%;
   
    border:solid black 2px;
    max-height: 5%;
    text-align: center;
}
.btn-primary{
    position: fixed;
    top: 25%;
    left:1%;
    background-color: rgb(219, 54, 54);
    border-radius: 20px;
    width:7%;
    height:7%;
    border:solid black 2px;
  
 
}

.added{
    border:0.5px solid black;
    margin-top:0;
    margin-bottom: 0;
    line-height:0.2em;
    background: none;
    
    font-size: 8px;
    text-align:center;
    text-justify: distribute;
    overflow: hidden;
    margin:0 auto;
    align-items:baseline;
}
.del-btn{
    background: white;
    width:8px;
    height:8px;
    border:1px solid black ;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
    overflow: hidden;
    margin:0;
    
}