@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
.bill-container{
    width:100%;
    text-orientation: rtl;
    height:auto;
    min-height:100%;
    padding:8px;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.container-row{
    background:none;
     
    
}
.bill-title{
    justify-content: center;
    width:500px;
    position:absolute;
    left:25%;
}
.txt-field{
   min-width:500px;
}
.error{
    color:rgb(255, 255, 255);
    background-color: rgb(233, 33, 33);
    margin:3px;
}
.auto-complete{
    min-width: 700px;
    padding:8px;
    background-color:none;
    border:2px solid black;
}
.add-btn{
    margin:10px;  
    width:100px;
    height:60px; 
   }
.bill-inputs{
    position: absolute;
    top:100px;
    left:200px;
    min-height:150px;
    min-width:810px;
   
    display:flex;
    flex-direction: column;
    background:none;
    justify-content: center;
    align-items: center;
}
.input-row{
    display:flex;
    flex-direction:row;
    margin:5px;
    justify-content: space-evenly;
}
.print-area{
    background:none;
    margin: 7px;
    
}
/*print---------------------------------------*/


.save-btn{
    position: fixed;
    top:10%;
    left:1%;
    background-color: rgb(34, 155, 99);
    border-radius: 20px;
    background-color: none;
    width:8%;
    border:solid black 2px;
}

.btn-primary{
    position: fixed;
    top: 20%;
    left:1%;
    background-color: rgb(219, 54, 54);
    border-radius: 20px;
    width:8%;
    border:solid black 2px;
}

.added{
    border:0.5px solid black;
    margin-top:0;
    margin-bottom: 0;
    line-height:0.2em;
    background: none;
    
    font-size: 8px;
    text-align:center;
    text-justify: distribute;
    overflow: hidden;
    margin:0 auto;
    align-items:baseline;
}
.del-btn{
    background: white;
    width:8px;
    height:8px;
    border:1px solid black ;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
    overflow: hidden;
    margin:0;
    
}