.item{
 max-width: 445px;
 
 justify-content: center;
 padding: 2px;
 background-color: white;
}
.input-table{
    background-color: white;
}
#dataList{
    min-width:340px;
    background:none;
}
.txt-field{
    background-color: none;
}