.archive{
    margin:5%;
    background:rgb(218, 218, 218);
    color:rgb(0, 0, 0);
    text-orientation: rtl;
}
.archive-table{
    width:100%;
    background: none;
    padding:2%;
}
.archive-item{
    width:100%;
}
.archive-cell{
    background-color: none;
    width:50px;
    width:5%;
    
}
