.archive{
    margin:5%;
    margin-top:10%;
    padding-bottom: 1%;
    background:none;
    color:rgb(0, 0, 0);
    text-orientation: rtl;
    
}
.archive-table{
    width:98%;
    background: none;
    padding:2%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left:1%;
    background-color: rgb(179, 204, 201);
    border-radius: 8px;
}
.archive-item{
    width:100%;
    background-color: rgb(133, 170, 166);
    border-bottom:3px solid black
   
}
.archive-cell{
    background-color: none;
    width:50px;
    width:5%;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.edit-btn{
    background-color: rgb(34, 155, 99);
    border-radius: 20px;
    background-color: none;
    min-width:10%;
    min-height:7%;
    border:solid black 2px;
    margin:5px;
    text-align: center;
}
