.add_db{
    background: rgb(207, 207, 207);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width:98%;
    height:70px;
    margin:5px;
    padding:4px;
    border-radius: 5px;
}
p{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
   
}
input{
    max-width: 150px;
    margin:3px;
}
.num{
    width:80px;
    background: #ffffff;
}
.status{
    background: #ff5252;
    overflow-wrap:break-word;
    padding:3px;
    

}
.btn{
    background: #000000;
    color:white;
    font-weight: bold;
}