.app{
  height:100%;
  width:100%;
  min-height:800px;
  min-width: 700px;
  background:none;
  position:absolute;
  margin:0%;
  
  
}
.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}
.container{
  
  height:90%;
}
.row{
  
  justify-content: space-between;
  
}