@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');
.app{
  height:100%;
  width:100%;
  min-height:800px;
  min-width: 700px;
  background:none;
  position:absolute;
  margin:0%;
  font-family: 'Cairo', sans-serif;
}

.container{
  height:90%;
}
.row{
  
  justify-content: space-between;
  
}
.home-btn{
  position:fixed;
  top:1%;
  left:1%;
  width:5%;
  margin:10px;
  padding: 5px;
  border-radius: 7px;
  background: rgb(12, 197, 188) ;
}